<div>
    <router-link to="/notfalls">Go back</router-link><br/>
    <center ><strong>New Notfall</strong></center><br>
    <table style="margin: auto;">
        <tr><th></th><th align="center"></th></tr>
        <tr>
            <td>Name</td>
            <td><input type="text" v-model="NewNotfall_PatientName"/></td>
        </tr>
        <tr>
            <td>Vorname</td>
            <td><input type="text" v-model="NewNotfall_PatientVorname"/></td>
        </tr>
        <tr>
            <td>Geburtsdatum</td>
            <td><input type="date" v-model="NewNotfall_PatientGeburtsdatum" /></td>
        </tr>
        <tr>
            <td>Datum der Reanimation</td>
            <td><input  type="date" v-model="NewNotfall_PatientReanimationDate" /></td>
        </tr>
        <tr>
            <td>Uhrzeit der Reanimation</td>
            <td><input type="time" v-model="NewNotfall_PatientReanimationTime" /></td>
        </tr>
        <tr>
            <td>Alter zum Zeitpunkt der Reanimation</td>
            <td>wird berechnet</td>
        </tr>
        <tr>
            <td>Geschlecht</td>
            <td>
                <input style="cursor:pointer" type="radio" id="NewNotfall_Gender_M" value="true" v-model="NewNotfall_PatientGender">
                <label style="cursor:pointer" for="NewNotfall_Gender_M">M<i class="fa fa-ambulance fa-mars"></i></label>
                <br/>
                <input style="cursor:pointer" type="radio" id="NewNotfall_Gender_F" value="false" v-model="NewNotfall_PatientGender">
                <label style="cursor:pointer" for="NewNotfall_Gender_F">F<i class="fa fa-ambulance fa-venus"></i></label>
                <br/>
            </td>
        </tr>
    </table> 
    <div style="text-align: center; ">
        <input type="button" value="Speichern" v-on:click="GM().CreateNotfall()"/>
        <input type="button" value="Zurück" v-on:click="GM().GoToNotfalls()"/>
    </div>
</div> 
